version: "3"
#! Comment out debug
services:
  web_supers_home:
    image: nginx:stable-alpine
    expose:
      - "80"
    environment:
      - VIRTUAL_HOST=${DOMAIN_NAME_5},www.${DOMAIN_NAME_5},${DOMAIN_NAME_1},www.${DOMAIN_NAME_1}
      # resume.${DOMAIN_NAME_1},www.resume.${DOMAIN_NAME_1},\n
      # resume.${DOMAIN_NAME_5},www.resume.${DOMAIN_NAME_5}
      # blog.${DOMAIN_NAME_1}, www.blog.${DOMAIN_NAME_1},\n
      # instruct.${DOMAIN_NAME_1}, www.instruct.${DOMAIN_NAME_1},\n
      # projects.${DOMAIN_NAME_1}, www.projects.${DOMAIN_NAME_1}
      - LETSENCRYPT_HOST=${DOMAIN_NAME_5},www.${DOMAIN_NAME_5},${DOMAIN_NAME_1},www.${DOMAIN_NAME_1}
      # ${DOMAIN_NAME_1},www.${DOMAIN_NAME_1},\n
      # resume.${DOMAIN_NAME_1},www.resume.${DOMAIN_NAME_1},\n
      # resume.${DOMAIN_NAME_5},www.resume.${DOMAIN_NAME_5}
      # blog.${DOMAIN_NAME_1}, www.blog.${DOMAIN_NAME_1},\n
      # instruct.${DOMAIN_NAME_1}, www.instruct.${DOMAIN_NAME_1},\n
      # projects.${DOMAIN_NAME_1}, www.projects.${DOMAIN_NAME_1}
      - VIRTUAL_PORT=80
      - LETSENCRYPT_EMAIL=${DEFAULT_EMAIL}
      - LETSENCRYPT_TEST=false
      - LETSENCRYPT_RESTART_CONTAINER=true
      - DEBUG=0
    volumes:
      - ${DOCKER_WEB}/Home:/usr/share/nginx/html:ro
      - conf:/etc/nginx/conf.d
      - certs:/etc/nginx/certs
    restart: unless-stopped

  #################################
  ##### Intergraded Into Blog #####
  #################################

  # web_supers_instruct:
  #   image: nginx:stable-alpine
  #   expose:
  #     - "80"
  #   environment:
  #     - VIRTUAL_HOST=instruct.${DOMAIN_NAME_1},www.instruct.${DOMAIN_NAME_1}
  #     - LETSENCRYPT_HOST=instruct.${DOMAIN_NAME_1},www.instruct.${DOMAIN_NAME_1}
  #     - LETSENCRYPT_EMAIL=${DEFAULT_EMAIL}
  #     - VIRTUAL_PORT=80
  #     - LETSENCRYPT_EMAIL=${DEFAULT_EMAIL}
  #     - LETSENCRYPT_TEST=true
  #     - LETSENCRYPT_RESTART_CONTAINER=true
  #     - DEBUG=1
  #   volumes:
  #     - ${DOCKER_WEB}/Instruct:/usr/share/nginx/html:ro
  #     - conf:/etc/nginx/conf.d
  #     - certs:/etc/nginx/certs
  #   restart: unless-stopped

  ###################################
  ##### !Consolidated Into Home #####
  ###################################

  web_supers_blog:
    image: nginx:stable-alpine
    expose:
      - "80"
    environment:
      # - VIRTUAL_HOST=blog.${DOMAIN_NAME_5},www.blog.${DOMAIN_NAME_5},instruct.${DOMAIN_NAME_5},www.instruct.${DOMAIN_NAME_5},projects.${DOMAIN_NAME_5},www.projects.${DOMAIN_NAME_5},blog.${DOMAIN_NAME_1},www.blog.${DOMAIN_NAME_1},instruct.${DOMAIN_NAME_1},www.instruct.${DOMAIN_NAME_1},projects.${DOMAIN_NAME_1},www.projects.${DOMAIN_NAME_1}
      # - LETSENCRYPT_HOST=blog.${DOMAIN_NAME_5},www.blog.${DOMAIN_NAME_5},instruct.${DOMAIN_NAME_5},www.instruct.${DOMAIN_NAME_5},projects.${DOMAIN_NAME_5},www.projects.${DOMAIN_NAME_5},blog.${DOMAIN_NAME_1},www.blog.${DOMAIN_NAME_1},instruct.${DOMAIN_NAME_1},www.instruct.${DOMAIN_NAME_1},projects.${DOMAIN_NAME_1},www.projects.${DOMAIN_NAME_1}
      - VIRTUAL_HOST=blog.${DOMAIN_NAME_5},www.blog.${DOMAIN_NAME_5},blog.${DOMAIN_NAME_1},www.blog.${DOMAIN_NAME_1}
      - LETSENCRYPT_HOST=blog.${DOMAIN_NAME_5},www.blog.${DOMAIN_NAME_5},blog.${DOMAIN_NAME_1},www.blog.${DOMAIN_NAME_1}
      - VIRTUAL_PORT=80
      - LETSENCRYPT_EMAIL=${DEFAULT_EMAIL}
      - LETSENCRYPT_TEST=false
      - LETSENCRYPT_RESTART_CONTAINER=true
      - DEBUG=0
    volumes:
      - ${DOCKER_WEB}/Blog:/usr/share/nginx/html:ro
      - conf:/etc/nginx/conf.d
      - certs:/etc/nginx/certs
    restart: unless-stopped

  #################################
  ##### Intergraded Into Blog #####
  #################################

  # web_supers_projects:
  #   image: nginx:stable-alpine
  #   expose:
  #     - "80"
  #   environment:
  #     - VIRTUAL_HOST=projects.${DOMAIN_NAME_1},www.projects.${DOMAIN_NAME_1}
  #     - LETSENCRYPT_HOST=projects.${DOMAIN_NAME_1},www.projects.${DOMAIN_NAME_1}
  #     - LETSENCRYPT_EMAIL=${DEFAULT_EMAIL}
  #     - VIRTUAL_PORT=80
  #     - LETSENCRYPT_EMAIL=${DEFAULT_EMAIL}
  #     - LETSENCRYPT_TEST=true
  #     - LETSENCRYPT_RESTART_CONTAINER=true
  #     - DEBUG=1
  #   volumes:
  #     - ${DOCKER_WEB}/Projects:/usr/share/nginx/html:ro
  #     - conf:/etc/nginx/conf.d
  #     - certs:/etc/nginx/certs
  #   restart: unless-stopped

  ####################################
  ### Resume intergraded into Home ###
  ####################################

  # web_supers_resume:
  #   image: nginx:stable-alpine
  #   expose:
  #     - "80"
  #   environment:
  #     - VIRTUAL_HOST=resume.${DOMAIN_NAME_1}, www.resume.${DOMAIN_NAME_1}
  #     - LETSENCRYPT_HOST=resume.${DOMAIN_NAME_1}, www.resume.${DOMAIN_NAME_1}
  #     - LETSENCRYPT_EMAIL=${DEFAULT_EMAIL}
  #     - VIRTUAL_PORT=80
  #     - LETSENCRYPT_EMAIL=${DEFAULT_EMAIL}
  #     - LETSENCRYPT_TEST=true
  #     - LETSENCRYPT_RESTART_CONTAINER=true
  #     - DEBUG=1
  #   volumes:
  #     - ${DOCKER_WEB}/Resume:/usr/share/nginx/html:ro
  #     - conf:/etc/nginx/conf.d
  #     - certs:/etc/nginx/certs
  #   restart: unless-stopped

networks:
  default:
    external:
      name: ${NETWORK}

volumes:
  conf:
  certs:
